/* Navbar.css */
.navbar {
  width: 100%;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
}

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #f3e8e8;
}

.navbar-contact {
  display: flex;
  margin-left: 50px;
}

.navbar-contact a {
  color: black;
  text-decoration: none;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.navbar-contact a:hover {
  color: #ff0000;
  margin-left: 9px;
}

.navbar-social {
  display: flex;
  margin-right: 50px;
}

.navbar-social a {
  color: black;
  text-decoration: none;
  margin-left: 8px;
}

.navbar-social a:hover {
  color: #ff0000;
}

.navbar-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px 50px;
  margin-left: 1500px;

}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items:center;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-menu a:hover {
  color: #ff0000;
}

.book-now-btn {
  background-color: #ff0000;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
 
}

.book-now-btn:hover {
  background-color: #a02121;
}
